/**************************************************************************

 GLOBAL

**************************************************************************/

BODY {
	font-family: arial;
	font-size: 11px;
}


/**************************************************************************

 CONTAINERS

**************************************************************************/
#renderTarget {
	width: 100%;
	border: solid 1px;
	min-height: 160px;
}

#container {
	width:100%;
}

#formContainer {
	width:50%;
}

#renderContainer {
	width:50%;
	float: right;
}

/**************************************************************************

 RENDERED ELEMENTS

**************************************************************************/

.profileName {
	font-weight: bold;
	font-size: 20px;
}

.defaultText {
	padding: 2px;
}

.badges {

}

.badgesGold {

}

.badgesSilver {

}

.badgesBronze {

}